<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property name="LOG_HOME" value="${log.home}"/>
  <property name="LOG_LEVEL" value="${log.level}"/>

  <appender name="stdout"
    class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{56} @ %msg%n
      </pattern>
    </encoder>
  </appender>

  <appender name="all"
    class="ch.qos.logback.core.rolling.RollingFileAppender">
    <File>${LOG_HOME}/myberrysite.log</File>
    <append>true</append>
    <rollingPolicy
      class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <FileNamePattern>${LOG_HOME}/myberrysite.%i.log
      </FileNamePattern>
      <minIndex>1</minIndex>
      <maxIndex>20</maxIndex>
    </rollingPolicy>
    <triggeringPolicy
      class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>16MB</maxFileSize>
    </triggeringPolicy>
    <encoder>
      <pattern>%date %-5level %logger{56} @%msg%n</pattern>
      <charset class="java.nio.charset.Charset">UTF-8</charset>
    </encoder>
  </appender>

  <springProfile name="dev">
    <root level="INFO">
      <appender-ref ref="stdout"/>
    </root>
  </springProfile>

  <springProfile name="rls">
    <root level="INFO">
      <appender-ref ref="all"/>
    </root>
  </springProfile>

</configuration>