<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:attr="lang=#{lang}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title th:text="|MyBerry - #{dev}|"></title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
  <link rel="bookmark" href="/favicon.ico"/>
  <link type="text/css" rel="stylesheet" href="static/css/main.css"/>
  <link type="text/css" rel="stylesheet" href="static/css/code.css"/>
  <style>
    @media only screen and (max-width: 23rem/*368px*/
    ) {
      .expression-table th:last-child, .expression-table td:last-child {
        display: none;
      }
    }
  </style>
</head>
<body>
<div class="wrapper">
  <div class="nav-container" id="nav-slider">
    <div>
      <div class="logo">
        <img src="static/svg/myberry.svg">
      </div>
      <div class="nav">
        <div>
          <ul>
            <li class="nav-item">
              <a href="/" class="nav-graph" th:text="#{wellcome}">Wellcome</a>
            </li>
            <li class="nav-item">
              <a href="/quickstart" class="nav-graph" th:text="#{quickstart}">Quick Start</a>
            </li>
            <li class="nav-item">
              <a href="/docs" class="nav-graph" th:text="#{documentation}">Documentation</a>
            </li>
            <li class="nav-item">
              <a href="/license" class="nav-graph" th:text="#{license}">License</a>
            </li>
            <li class="nav-item">
              <a href="/design" class="nav-graph" th:text="#{design}">Design</a>
            </li>
            <li class="nav-item">
              <div class="nav-item unfolded" th:text="#{practice}">PRACTICE</div>
              <ul>
                <li class="nav-item">
                  <a href="/dev" class="nav-graph selected" th:text="#{dev}">Dev</a>
                </li>
                <li class="nav-item">
                  <a href="/ops" class="nav-graph" th:text="#{ops}">Ops</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="/performance" class="nav-graph" th:text="#{performance}">Performance</a>
            </li>
            <li class="nav-item">
              <a href="/faq" class="nav-graph" th:text="#{faq}">FAQ</a>
            </li>
            <li class="nav-item">
              <a href="/thanks" class="nav-graph" th:text="#{thanks}">Thanks</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer">
        <span>© [[${#dates.format(new java.util.Date().getTime(), 'yyyy')}]] MyBerry</span>
      </div>
    </div>
  </div>
  <div id="glass"
       onclick="document.getElementById('nav-slider').classList.remove('nav-opened');document.getElementById('glass').classList.remove('glass');"></div>
  <div class="main-container">
    <div class="breadcrumbs">
      <div class="breadcrumb">
        <botton
            onclick="document.getElementById('nav-slider').classList.add('nav-opened');document.getElementById('glass').classList.add('glass');">
          <span></span></botton>
        <ul>
          <li>MyBerry</li>
          <li>/</li>
          <li th:text="#{dev}">Dev</li>
        </ul>
      </div>
    </div>
    <div class="section">
      <div class="content">
        <h1 th:text="#{dev}">Dev</h1>
        <p th:text="#{dev.introduction}"></p>
      </div>
      <div class="content">
        <h2 th:text="#{dev.cr.title}"></h2>
        <p th:text="#{dev.cr.description}"></p>
        <p class="p-space-bottom" th:text="#{dev.cr.expression.introduction}"></p>
        <table class="expression-table">
          <thead>
          <tr>
            <th th:text="#{dev.cr.expression.keyword}">Keyword</th>
            <th th:text="#{dev.cr.expression.description}">Description</th>
            <th th:text="#{dev.cr.expression.required}">Required</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>#sid()</td>
            <td th:text="#{dev.cr.expression.sid.description}"></td>
            <td>Y</td>
          </tr>
          <tr>
            <td>#incr()</td>
            <td th:text="#{dev.cr.expression.incr.description}"></td>
            <td>Y</td>
          </tr>
          <tr>
            <td>#time()</td>
            <td th:text="#{dev.cr.expression.time.description}"></td>
            <td>N</td>
          </tr>
          <tr>
            <td>#rand()</td>
            <td th:text="#{dev.cr.expression.rand.description}"></td>
            <td>N</td>
          </tr>
          <tr>
            <td>$dynamic()</td>
            <td th:text="#{dev.cr.expression.dynamic.description}"></td>
            <td>N</td>
          </tr>
          <tr>
            <td>0-9 A-Z a-z</td>
            <td th:text="#{dev.cr.expression.base.description}"></td>
            <td>N</td>
          </tr>
          </tbody>
        </table>
        <p class="p-space-top" th:text="#{dev.cr.expression.example.description}"></p>
        <p class="p-top-far" th:text="#{dev.cr.create.introduction}"></p>
        <div class="demo-pic" th:switch="#{lang}">
          <img th:case="zh" src="static/img/dev/cr-create_zh.png">
          <img th:case="*" src="static/img/dev/cr-create_en.png">
        </div>
        <p class="p-top-far" th:text="#{dev.cr.search.introduction}"></p>
        <div class="demo-pic" th:switch="#{lang}">
          <img th:case="zh" src="static/img/dev/cr-search_zh.png">
          <img th:case="*" src="static/img/dev/cr-search_en.png">
        </div>
        <p class="p-top-far-bottom" th:text="#{dev.cr.get.introduction}"></p>
        <div class="language">
          <div>
            <span
                class="java-keyword">import</span><span>&nbsp;</span><span>java.util.HashMap;</span>
          </div>
          <br>
          <div>
            <span class="java-keyword">import</span><span>&nbsp;</span><span>org.myberry.client.user.DefaultUserClient;</span>
          </div>
          <div>
            <span class="java-keyword">import</span><span>&nbsp;</span><span>org.myberry.client.user.PullResult;</span>
          </div>
          <br>
          <div>
            <span class="java-keyword">public</span><span>&nbsp;</span><span class="java-keyword">class</span><span>&nbsp;</span><span>CRUserTest {</span>
          </div>
          <br>
          <div class="java-line-child">
            <div>
              <span class="java-keyword">public</span><span>&nbsp;</span><span class="java-keyword">static</span><span>&nbsp;</span><span
                class="java-keyword">void</span><span>&nbsp;</span><span>main(String[]</span><span>&nbsp;</span><span
                class="java-obj">args</span><span>)</span><span>&nbsp;</span><span
                class="java-keyword">throws</span><span>&nbsp;</span><span>Exception {</span>
            </div>
            <div class="java-line-child">
              <span>DefaultUserClient</span><span>&nbsp;</span><span class="java-obj">defaultUserClient</span><span>&nbsp;</span><span>&#61;</span><span>&nbsp;</span><span
                class="java-keyword">new</span><span>&nbsp;</span><span>DefaultUserClient();</span>
            </div>
            <div class="java-line-child">
              <span class="java-obj">defaultUserClient</span><span>.setServerAddr(</span><span
                class="java-str">&quot;192.168.1.2:8085,192.168.1.2:8086,192.168.1.2:8087&quot;</span><span>);</span>
            </div>
            <div class="java-line-child">
              <span class="java-obj">defaultUserClient</span><span>.start();</span>
            </div>
            <br>
            <div class="java-line-child">
              <span>HashMap&lt;String, String&gt;</span><span>&nbsp;</span><span class="java-obj">map</span><span>&nbsp;</span><span>&#61;</span><span>&nbsp;</span><span
                class="java-keyword">new</span><span>&nbsp;</span><span>HashMap&lt;&gt;();</span>
            </div>
            <div class="java-line-child">
              <span class="java-obj">map</span><span>.put(</span><span class="java-str">&quot;hello&quot;</span><span>,&nbsp;</span><span
                class="java-str">&quot;AAA&quot;</span><span>);</span>
            </div>
            <div class="java-line-child">
              <span>PullResult</span><span>&nbsp;</span><span
                class="java-obj">pullResult</span><span>&nbsp;</span><span>&#61;</span><span>&nbsp;</span><span
                class="java-obj">defaultUserClient</span><span>.pull(</span><span class="java-str">&quot;key1&quot;</span><span>,&nbsp;</span><span
                class="java-obj">map</span><span>);</span>
            </div>
            <div class="java-line-child">
              <i class="java-comment">// Sync: PullResult [pullStatus=PULL_OK, key=key1,
                newId=202112029002m00001AAA071]</i>
            </div>
            <div class="java-line-child">
              <span>System.</span><span class="java-static">out</span><span>.println(</span><span
                class="java-str">&quot;Sync: &quot;</span><span>&nbsp;+&nbsp;</span><span
                class="java-obj">pullResult</span><span>);</span>
            </div>
            <br>
            <div class="java-line-child">
              <span>Thread.sleep(3000);</span>
            </div>
            <div class="java-line-child">
              <span class="java-obj">defaultUserClient</span><span>.shutdown();</span>
            </div>
          </div>
          <div class="java-line-child">
            <span>}</span>
          </div>
          <div>
            <span>}</span>
          </div>
        </div>
      </div>
      <div class="content">
        <h2 th:text="#{dev.ns.title}"></h2>
        <p th:text="#{dev.ns.description}"></p>
        <p class="p-space-bottom" th:text="#{dev.ns.reset.type.description}"></p>
        <table>
          <thead>
          <tr>
            <th th:text="#{dev.ns.reset.type.strategy.id}">Strategy ID</th>
            <th th:text="#{dev.ns.reset.type.strategy.description}">Strategy Description</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>0</td>
            <td th:text="#{dev.ns.reset.type.0.description}"></td>
          </tr>
          <tr>
            <td>1</td>
            <td th:text="#{dev.ns.reset.type.1.description}"></td>
          </tr>
          <tr>
            <td>2</td>
            <td th:text="#{dev.ns.reset.type.2.description}"></td>
          </tr>
          <tr>
            <td>3</td>
            <td th:text="#{dev.ns.reset.type.3.description}"></td>
          </tr>
          </tbody>
        </table>
        <p class="p-space-top" th:text="#{dev.ns.set.example.description}"></p>
        <p class="p-top-far" th:text="#{dev.ns.create.introduction}"></p>
        <div class="demo-pic" th:switch="#{lang}">
          <img th:case="zh" src="static/img/dev/ns-create_zh.png">
          <img th:case="*" src="static/img/dev/ns-create_en.png">
        </div>
        <p class="p-top-far" th:text="#{dev.ns.search.introduction}"></p>
        <div class="demo-pic" th:switch="#{lang}">
          <img th:case="zh" src="static/img/dev/ns-search_zh.png">
          <img th:case="*" src="static/img/dev/ns-search_en.png">
        </div>
        <p class="p-top-far" th:text="#{dev.ns.update.introduction}"></p>
        <div class="demo-pic" th:switch="#{lang}">
          <img th:case="zh" src="static/img/dev/ns-update_zh.png">
          <img th:case="*" src="static/img/dev/ns-update_en.png">
        </div>
        <p class="p-top-far-bottom" th:text="#{dev.ns.get.introduction}"></p>
        <div class="language">
          <div>
            <span class="java-keyword">import</span><span>&nbsp;</span><span>org.myberry.client.user.DefaultUserClient;</span>
          </div>
          <div>
            <span class="java-keyword">import</span><span>&nbsp;</span><span>org.myberry.client.user.PullResult;</span>
          </div>
          <br>
          <div>
            <span class="java-keyword">public</span><span>&nbsp;</span><span class="java-keyword">class</span><span>&nbsp;</span><span>NSUserTest {</span>
          </div>
          <br>
          <div class="java-line-child">
            <div>
              <span class="java-keyword">public</span><span>&nbsp;</span><span class="java-keyword">static</span><span>&nbsp;</span><span
                class="java-keyword">void</span><span>&nbsp;</span><span>main(String[]</span><span>&nbsp;</span><span
                class="java-obj">args</span><span>)</span><span>&nbsp;</span><span
                class="java-keyword">throws</span><span>&nbsp;</span><span>Exception {</span>
            </div>
            <div class="java-line-child">
              <span>DefaultUserClient</span><span>&nbsp;</span><span class="java-obj">defaultUserClient</span><span>&nbsp;</span><span>&#61;</span><span>&nbsp;</span><span
                class="java-keyword">new</span><span>&nbsp;</span><span>DefaultUserClient();</span>
            </div>
            <div class="java-line-child">
              <span class="java-obj">defaultUserClient</span><span>.setServerAddr(</span><span
                class="java-str">&quot;192.168.1.2:8085,192.168.1.2:8086,192.168.1.2:8087&quot;</span><span>);</span>
            </div>
            <div class="java-line-child">
              <span class="java-obj">defaultUserClient</span><span>.start();</span>
            </div>
            <br>
            <div class="java-line-child">
              <span>PullResult</span><span>&nbsp;</span><span
                class="java-obj">pullResult</span><span>&nbsp;</span><span>&#61;</span><span>&nbsp;</span><span
                class="java-obj">defaultUserClient</span><span>.pull(</span><span class="java-str">&quot;key2&quot;</span><span>);</span>
            </div>
            <div class="java-line-child">
              <i class="java-comment">// Sync: PullResult [pullStatus=PULL_OK, key=key2, start=100,
                end=104, synergyId=2]</i>
            </div>
            <div class="java-line-child">
              <span>System.</span><span class="java-static">out</span><span>.println(</span><span
                class="java-str">&quot;Sync: &quot;</span><span>&nbsp;+&nbsp;</span><span
                class="java-obj">pullResult</span><span>);</span>
            </div>
            <br>
            <div class="java-line-child">
              <span>Thread.sleep(3000);</span>
            </div>
            <div class="java-line-child">
              <span class="java-obj">defaultUserClient</span><span>.shutdown();</span>
            </div>
          </div>
          <div class="java-line-child">
            <span>}</span>
          </div>
          <div>
            <span>}</span>
          </div>
        </div>
      </div>
      <div class="content">
        <h2 th:text="#{dev.capacity.design.title}"></h2>
        <p th:text="#{dev.capacity.design.description}"></p>
        <p th:text="#{dev.capacity.design.sid}"></p>
        <p th:text="#{dev.capacity.design.sid.description}"></p>
        <p th:text="#{dev.capacity.design.incr}"></p>
        <p th:text="#{dev.capacity.design.incr.description}"></p>
        <p th:text="#{dev.capacity.design.reset.type}"></p>
        <p th:text="#{dev.capacity.design.reset.type.description}"></p>
      </div>
      <div class="content">
        <h2 th:text="#{dev.spring.title}"></h2>
        <p class="p-space-bottom" th:text="#{dev.spring.introduction}"></p>
        <div class="language">
          <div>
            <span class="xml-dom">&lt;?xml</span><span>&nbsp;</span><span class="xml-property">version</span><span>=&quot;1.0&quot;</span><span>&nbsp;</span><span
              class="xml-property">encoding</span><span>=&quot;UTF-8&quot;</span><span
              class="xml-dom">?&gt;</span>
          </div>
          <div>
            <div>
              <span class="xml-dom">&lt;beans</span><span>&nbsp;</span><span class="xml-property">xmlns</span><span>=&quot;http://www.springframework.org/schema/beans&quot;</span>
            </div>
            <div class="java-line-child">
              <span class="xml-property">xmlns:xsi</span><span>=&quot;http://www.w3.org/2001/XMLSchema-instance&quot;</span>
            </div>
            <div class="java-line-child">
              <span class="xml-property">xsi:schemaLocation</span><span>=&quot;http://www.springframework.org/schema/beans</span>
            </div>
            <div class="java-line-child">
              <span>http://www.springframework.org/schema/beans/spring-beans.xsd&quot;</span><span
                class="xml-dom">&gt;</span>
            </div>
            <div class="java-line-child">
              <div>
                <span class="xml-dom">&lt;bean</span><span>&nbsp;</span><span class="xml-property">id</span><span>=&quot;defaultUserClient&quot;</span><span>&nbsp;</span><span
                  class="xml-property">class</span><span>=&quot;org.myberry.client.user.DefaultUserClient&quot;</span>
              </div>
              <div class="java-line-child">
                <span class="xml-property">init-method</span><span>=&quot;start&quot;</span><span>&nbsp;</span><span
                  class="xml-property">destroy-method</span><span>=&quot;shutdown&quot;</span><span
                  class="xml-dom">&gt;</span>
              </div>
              <div class="java-line-child">
                <span class="xml-dom">&lt;property</span><span>&nbsp;</span><span
                  class="xml-property">name</span><span>=&quot;serverAddr&quot;</span><span>&nbsp;</span><span
                  class="xml-property">value</span><span>=&quot;192.168.1.2:8085,192.168.1.2:8086,192.168.1.2:8087&quot;</span><span>&nbsp;</span><span
                  class="xml-dom">/&gt;</span>
              </div>
            </div>
            <div class="java-line-child">
              <span class="xml-dom">&lt;/bean&gt;</span>
            </div>
          </div>
          <div>
            <span class="xml-dom">&lt;/beans&gt;</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>