@charset "utf-8";
.main-container {
  position: relative;
}

.box {
  width: 18rem;
  height: 24rem;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 50%; /* 定位父级的50% */
  top: 50%;
  transform: translate(-50%, -50%);
}

.box .box-ghost {
  padding: 15px 25px 25px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
}

.box .box-ghost .symbol:nth-child(1) {
  opacity: .2;
  animation: shine 4s ease-in-out 3s infinite;
}

.box .box-ghost .symbol:nth-child(1):before, .box .box-ghost .symbol:nth-child(1):after {
  content: '';
  width: 12px;
  height: 4px;
  background: #000;
  position: absolute;
  border-radius: 5px;
  bottom: 65px;
  left: 0;
}

.box .box-ghost .symbol:nth-child(1):before {
  transform: rotate(45deg);
}

.box .box-ghost .symbol:nth-child(1):after {
  transform: rotate(-45deg);
}

.box .box-ghost .symbol:nth-child(2) {
  position: absolute;
  left: -5px;
  top: 30px;
  height: 18px;
  width: 18px;
  border: 4px solid;
  border-radius: 50%;
  border-color: #000;
  opacity: .2;
  animation: shine 4s ease-in-out 1.3s infinite;
}

.box .box-ghost .symbol:nth-child(3) {
  opacity: .2;
  animation: shine 3s ease-in-out .5s infinite;
}

.box .box-ghost .symbol:nth-child(3):before, .box .box-ghost .symbol:nth-child(3):after {
  content: '';
  width: 12px;
  height: 4px;
  background: #000;
  position: absolute;
  border-radius: 5px;
  top: 5px;
  left: 40px;
}

.box .box-ghost .symbol:nth-child(3):before {
  transform: rotate(90deg);
}

.box .box-ghost .symbol:nth-child(3):after {
  transform: rotate(180deg);
}

.box .box-ghost .symbol:nth-child(4) {
  opacity: .2;
  animation: shine 6s ease-in-out 1.6s infinite;
}

.box .box-ghost .symbol:nth-child(4):before, .box .box-ghost .symbol:nth-child(4):after {
  content: '';
  width: 15px;
  height: 4px;
  background: #000;
  position: absolute;
  border-radius: 5px;
  top: 10px;
  right: 30px;
}

.box .box-ghost .symbol:nth-child(4):before {
  transform: rotate(45deg);
}

.box .box-ghost .symbol:nth-child(4):after {
  transform: rotate(-45deg);
}

.box .box-ghost .symbol:nth-child(5) {
  position: absolute;
  right: 5px;
  top: 40px;
  height: 12px;
  width: 12px;
  border: 3px solid;
  border-radius: 50%;
  border-color: #000;
  opacity: .2;
  animation: shine 1.7s ease-in-out 7s infinite;
}

.box .box-ghost .symbol:nth-child(6) {
  opacity: .2;
  animation: shine 2s ease-in-out 6s infinite;
}

.box .box-ghost .symbol:nth-child(6):before, .box .box-ghost .symbol:nth-child(6):after {
  content: '';
  width: 15px;
  height: 4px;
  background: #000;
  position: absolute;
  border-radius: 5px;
  bottom: 65px;
  right: -5px;
}

.box .box-ghost .symbol:nth-child(6):before {
  transform: rotate(90deg);
}

.box .box-ghost .symbol:nth-child(6):after {
  transform: rotate(180deg);
}

.box .box-ghost .box-ghost-container {
  background: #000;
  width: 100px;
  height: 100px;
  border-radius: 100px 100px 0 0;
  position: relative;
  margin: 0 auto;
  animation: upndown 3s ease-in-out infinite;
}

.box .box-ghost .box-ghost-container .box-ghost-eyes {
  position: absolute;
  left: 50%;
  top: 45%;
  height: 12px;
  width: 70px;
}

.box .box-ghost .box-ghost-container .box-ghost-eyes .box-eye-left {
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  margin: 0 10px;
  position: absolute;
  left: 0;
}

.box .box-ghost .box-ghost-container .box-ghost-eyes .box-eye-right {
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  margin: 0 10px;
  position: absolute;
  right: 0;
}

.box .box-ghost .box-ghost-container .box-ghost-bottom {
  display: flex;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}

.box .box-ghost .box-ghost-container .box-ghost-bottom div {
  flex-grow: 1;
  position: relative;
  top: -10px;
  height: 20px;
  border-radius: 100%;
  background-color: #000;
}

.box .box-ghost .box-ghost-container .box-ghost-bottom div:nth-child(2n) {
  top: -12px;
  margin: 0 -0px;
  border-top: 15px solid #363636;
  background: transparent;
}

.box .box-ghost .box-ghost-shadow {
  height: 20px;
  box-shadow: 0 50px 15px 5px #363636;
  border-radius: 50%;
  margin: 0 auto;
  animation: smallnbig 3s ease-in-out infinite;
}

.box .box-desc {
  position: absolute;
  bottom: 25%;
  left: 50%;
  font-size: 1.5rem;
  transform: translateX(-50%);
}

@keyframes upndown {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(5px);
  }
}

@keyframes smallnbig {
  0% {
    width: 90px;
  }
  50% {
    width: 100px;
  }
  100% {
    width: 90px;
  }
}

@keyframes shine {
  0% {
    opacity: .2;
  }
  25% {
    opacity: .1;
  }
  50% {
    opacity: .2;
  }
  100% {
    opacity: .2;
  }
}

@media only screen and (max-width: 60rem/*960px*/
) {
  .main-container {
    position: static;
  }
}